<section class="section_cart">
    <h1>Carrito</h1>
    <span>carrito ID: {{cartId}}</span>
    <ul class="cart_productList">
        {{#each productos }}
        <li>
            <p>Titulo de producto: {{ this.product.title }}</p>
            <p>Categoria: {{ this.product.category }}</p>
            <p>Precio: ${{ this.product.price }}</p>
            <p>Cantidad: {{ this.quantity }}</p>
        </li>
        {{/each}}
    </ul>
</section>